<div class="d-flex justify-content-center align-items-center flex-column mt-5">
    <p>Adquiere créditos para jugar a las 4 en raya :)</p>
    <br>
    <div class="form-check">
      <input class="form-check-input" (change)="amount=10" type="radio" name="option" value="1" checked>
      <label class="form-check-label">1 € por partida</label>
    </div>
    <br>
    <button class="btn btn-primary" *ngIf="showPaymentForm" (click)="requestPrepayment()">Ir al pago</button>
    <div class="col-md-6">
      <form id="payment-form" style="display:none" class="text-center">
        <div class="form-group">
          <label for="card-element" style="font-size: 15px;">Introduce los datos de tu tarjeta</label><br><br>
          <div id="card-element" class="form-control"></div>
        </div>
        <button id="submit" class="btn btn-primary mt-3">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pagar</span>
        </button>
        <p id="card-error" role="alert" class="mt-3"></p>
        <p class="result-message hidden" *ngIf="paymentSucceeded" class="mt-3">
          El <b>pago</b> se ha realizado de forma correcta.
        </p>
      </form>
    </div>
  </div>