<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="">Email:</label>
    <input type="email" formControlName="Email" name="email">
    <br>
    <div *ngIf="this.loginForm.controls['Email'].errors">
        <div *ngIf="this.loginForm.controls['Email'].errors?.['required']">
            El campo email es obligatorio
        </div>
        <div *ngIf="this.loginForm.controls['Email'].errors?.['email']">
            El campo email debe seguir un formato....
        </div>
    </div>
    
    <label for="">Contrase&ntilde;:</label>
    <input type="password" formControlName="Pwd" name="pwd">
    <br>
    <div *ngIf="this.loginForm.controls['Pwd'].errors">
        <div *ngIf="this.loginForm.controls['Pwd'].errors?.['required']">
            El campo contraseña es obligatorio
        </div>
        <div *ngIf="this.loginForm.controls['Pwd'].errors?.['minlength']">
            El campo contraseña debe seguir un formato....
        </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
</form>
