<div class="row mt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <a class="btn btn-primary" (click)="crearPartida4R()">
                    <img src="../../assets/4_en_raya.png" class="img-fluid w-50 rounded" alt="Juego de las 4 en raya">
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <a class="btn btn-primary" (click)="crearPartidaEscoba()">
                    <img src="../../assets/escoba.png" class="img-fluid w-50 rounded" alt="Juego de la escoba">
                </a>
            </div>
        </div>
    </div>    
</div>
