<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6 d-flex justify-content-center">
            <button class="btn btn-primary">
                <img src="../../assets/4_en_raya.png" class="img-fluid rounded" alt="Juego de las 4 en raya" (click)="crearPartida4R()">
            </button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <button class="btn btn-primary">
                <img src="../../assets/escoba.png" class="img-fluid rounded" alt="Juego de la escoba">
            </button>
        </div>
    </div>
</div>
