<header>
    <div class="logo-container">
      <h4 class="logo-label">Chat application</h4>
    </div>
  
  </header>
  <div class="container">  
    <div class="chatBox text-center mt-3">  
      <div class="inBox">   
          
          <div class="mensajes-container">
            <div *ngFor="let mensaje of mensajes" class="mensaje">
              <div class="mensaje-autor">{{ mensaje.autor }}:</div>
              <div class="mensaje-contenido">{{ mensaje.contenido }}</div>
              <div class="mensaje-timestamp">{{ mensaje.timestamp  }}</div>
            </div>
          </div>
          
             
          <div class="type-msg">  
            <div class="input-msg-write ">  
              <input type="text" [value]="txtMessage"  
              (keydown.enter)="sendMessage()" placeholder="Type a message" />  
              <button class="msg-send-btn mr-4" type="button"  (click)="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true">Send</i></button>  
            </div>  
          </div>  
      </div>  
    </div>  
  </div>  