<input type="text" [(ngModel)]="id_partida_curso"/>
<input type="text" [(ngModel)]="nick_jugador"/>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="chat">
                
            </div>
        </div>
        <div class="col-12 col-md-6">           
            <div class="tablero" id="tablero">
                <div *ngFor="let fila of partida.celdas; let i = index" class="fila">
                  <div *ngFor="let celda of fila; let j = index" 
                       class="celda" 
                       [class]="celda"
                       [class.hover]="columnaHover === j"
                       (click)="seleccionarColumna(j)"
                       (mouseover)="mouseOverColumna(j)">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
