<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID PARTIDA</th>
        <th>FECHA</th>
        <th>JUEGO</th>
        <th>NICK USUARIO</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of history">
        <td>{{ game.id_partida }}</td>
        <td>{{ game.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ game.juego }}</td>
        <td>{{ game.nickUsuario }}</td>
        <td>{{ game.mensaje }}</td>
      </tr>
    </tbody>
  </table>
</div>
